<%= form_with model: article do |form| %>
    <div>
    <%= form.label :nama %><br>
    <%= form.text_field :nama %>
    <% @article.errors.full_messages_for(:nama).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

    <div>
    <%= form.label :a %><br>
    <%= form.text_field :a %><br>
    <% @article.errors.full_messages_for(:a).each do |message| %>
        <div><%= message %></div>
    <% end %>
    </div>

    <div>
    <%= form.label :b %><br>
    <%= form.text_field :b %><br>
    <% @article.errors.full_messages_for(:b).each do |message| %>
        <div> <%= message %></div>
    <% end %>
    </div>

    <div>
    <%= form.label :c %><br>
    <%= form.text_field :c %><br>
    <% @article.errors.full_messages_for(:c).each do |message| %>
        <div> <%= message %></div>
    <% end %>
    </div>

    <div>
      <%= form.submit %>
      </div> 
    <% end %>