<h1>Tampilan </h1>
Nama : <%= @article.nama %>
a : <%= @article.a %>
b : <%= @article.b %>
c : <%= @article.c %>
urutan : <%= @article.urutan %>

<ul> 
<li><%= link_to "Edit", edit_article_path(@article) %></li>